@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 69 47% 97%;
    --foreground: 66 45% 4%;
    --card: 69 47% 97%;
    --card-foreground: 66 45% 4%;
    --popover: 69 47% 97%;
    --popover-foreground: 66 45% 4%;
    --primary: 68 44% 53%;
    --primary-foreground: 66 45% 4%;
    --secondary: 136 44% 74%;
    --secondary-foreground: 66 45% 4%;
    --muted: 69 47% 20%;
    --muted-foreground: 66 45% 70%;
    --accent: 158 44% 64%;
    --accent-foreground: 66 45% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 66 45% 4%;
    --border: 69 47% 20%;
    --input: 69 47% 20%;
    --ring: 158 44% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 69 47% 3%;
    --foreground: 67 43% 96%;
    --card: 69 47% 3%;
    --card-foreground: 67 43% 96%;
    --popover: 69 47% 3%;
    --popover-foreground: 67 43% 96%;
    --primary: 68 44% 47%;
    --primary-foreground: 69 47% 3%;
    --secondary: 137 44% 26%;
    --secondary-foreground: 67 43% 96%;
    --muted: 69 47% 80%;
    --muted-foreground: 67 43% 96%;
    --accent: 159 44% 36%;
    --accent-foreground: 69 47% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 66 41% 10%;
    --border: 69 47% 60%;
    --input: 69 47% 80%;
    --ring: 159 44% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
