@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 43% 99%;
    --foreground: 135 17% 5%;
    --card: 144 20% 95%;
    --card-foreground: 135 17% 5%;
    --popover: 140 43% 99%;
    --popover-foreground: 135 17% 5%;
    --primary: 145 27% 51%;
    --primary-foreground: 135 17% 5%;
    --secondary: 147 18% 73%;
    --secondary-foreground: 135 17% 5%;
    --muted: 140 43% 20%;
    --muted-foreground: 136 18% 30%;
    --accent: 159 18% 62%;
    --accent-foreground: 135 17% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 135 17% 5%;
    --border: 140 43% 20%;
    --input: 140 43% 20%;
    --ring: 160 18% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 140 60% 1%;
    --foreground: 135 15% 95%;
    --card: 140 60% 1%;
    --card-foreground: 135 15% 95%;
    --popover: 140 60% 1%;
    --popover-foreground: 135 15% 95%;
    --primary: 145 27% 49%;
    --primary-foreground: 140 60% 1%;
    --secondary: 149 18% 27%;
    --secondary-foreground: 135 15% 95%;
    --muted: 140 61% 80%;
    --muted-foreground: 135 15% 95%;
    --accent: 159 18% 38%;
    --accent-foreground: 135 15% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 137 14% 10%;
    --border: 140 60% 60%;
    --input: 140 61% 80%;
    --ring: 160 18% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
